<ion-tabs>
  <div class="tabs-container">
    <ion-tab-bar slot="bottom" style="border-radius: 25px; width: 95%; margin-bottom: .3rem;">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" style="font-size: 1.5rem;"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="chat-ai">
        <ion-icon name="chatbox-ellipses-outline" style="font-size: 1.5rem;"></ion-icon>
        Trainer AI
      </ion-tab-button>
      <ion-tab-button tab="library" disabled>
        <ion-icon name="people-outline" style="font-size: 1.5rem;"></ion-icon>
        Amigos
      </ion-tab-button>
      <ion-tab-button tab="search" disabled>
        <ion-icon name="person-outline" style="font-size: 1.5rem;"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</ion-tabs>
