ion-tabs {
    background: var(--ion-color-always-dark);
}

.tabs-container {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 0.2rem;
}