<ion-content class="ion-padding" id="main-content">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <div style="display: flex; align-items: center;">
      <ion-avatar style="width: 35px; height: 35px; margin-left: 0.5rem;">
        <img alt="Foto de perfil de google" src="{{authSvc.getUserImageUrl()}}" />
      </ion-avatar>
      <ion-title>{{authSvc.getUserName() || 'UserName'}}</ion-title>
    </div>

    <div style="display: flex; align-items: center;">
      <ion-text slot="end" style="padding-right: .3rem; color: var(--ion-color-dark);">{{ vip ? '∞' : currentRubys }}</ion-text>
      <img slot="end" [src]="vip ? '../../../../assets/img/home/ruby_vip.png' : '../../../../assets/img/home/ruby_free.png'" style="width: 35px; height: 35px;" />
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </div>

  <ion-list lines="none">
    @for(categoryData of categories; track $index) {
      <ion-item (click)="goToChat(categoryData)" [ngStyle]="{'--background': categoryData.color}">
        <ion-avatar>
          <img alt="{{categoryData.name}}" src="{{categoryData.url}}" />
        </ion-avatar>
        <ion-text>{{categoryData.name}}</ion-text>
      </ion-item>
    }
  </ion-list>
  <!-- <app-chat-ai [currentCategoryData]='currentCategoryData' (removeOneRuby)="removeOneRuby($event)"></app-chat-ai> -->
</ion-content>

<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <div style="display: flex; align-items: center; margin-inline: 0.5rem;">
        <ion-menu-toggle>
          <ion-icon name="arrow-back-outline" style="font-size: 1.6rem;"></ion-icon>
        </ion-menu-toggle>
        <ion-title>Configuración</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list lines="none" style="--background: transparent; ">
      <ion-label style="padding-left: 1rem;">
        Suscripciones
      </ion-label>
      <div *ngFor="let offeringGroup of offerings | async">
        <ion-item *ngFor="let sku of offeringGroup.skus">
          <ion-label>
            <!-- si se agregan mas planes a la misma suscripcion se tiene que hacer un for al sku -->
            {{ sku.product.title }}
            <p>{{ sku.product.description }}</p>
          </ion-label>

          <ion-button slot="end" fill="outline" (click)="purchase(sku)">
            {{ sku.product.price | currency: sku.product.currencyCode }}
          </ion-button>
        </ion-item>
      </div>

      <ion-item style="--background: transparent">
        <ion-label>Versión: {{ user.vip }}</ion-label>
      </ion-item>
      
      <ion-item style="--background: transparent" (click)="signOutGoogle()">
        <ion-label>Cerrar sesión</ion-label>
        <ion-icon slot="end" name="log-in-outline" style="width: 35px; height: 35px; padding: 0 0.5rem;" color="danger"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>