* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

ion-content {
  // --padding-top: 2rem;
  --padding-bottom: 4rem;
}

ion-icon {
  font-size: 1.2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

#flameSharpIcon {
  position: relative;
  top: 2px;
}

ion-avatar {
    width: 50px;
    height: 50px;
}

ion-title {
    padding: 0.5rem;
    color: var(--ion-color-dark);
}

ion-text {
    font-size: 1.2rem;
    color: var(--ion-color-dark);
}

.card-ion-text {
  font-size: 0.9rem;
  padding: 0;
  font-weight: 600;
  color: var(--ion-color-always-dark);
}

ion-list {
    background: transparent;
    padding: 0;
    margin-top: 1rem;
}

ion-item {
    border-radius: 19px;
    margin-bottom: 0.6rem;
}

.vip_btn {
    width: 100%; 
    display: flex; 
    background: var(--ion-color-primary); 
    border-radius: 5px; 
    height: 4rem;
    justify-content: space-between; 
    align-items: center; 
    padding-inline: 1rem; 
    cursor: pointer;
}

.circle-border {
  fill: transparent;
  stroke: var(--ion-color-medium);
  stroke-width: 10px;
}

.circle-progress {
  fill: transparent;
  stroke: var(--ion-color-primary);
  stroke-width: 10px;
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease;
}

.circle-main-text {
  font-family: sans-serif;
  font-size: 1.5rem;
  text-anchor: middle;
  dominant-baseline: central;
  fill: var(--ion-color-primary);
}

.circle-text {
  font-family: sans-serif;
  font-size: 1.2rem;
  text-anchor: middle;
  dominant-baseline: central;
  fill: var(--ion-color-dark);
}

ion-modal {
  --height: 60%;
  --width: 90%;
  --border-radius: 8px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

// first user max flexiones
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 2rem;
}

.centered-input {
  margin: 6rem;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid var(--ion-color-medium);
  --padding-start: 0;
  --padding-end: 0;
}

.custom-button {
  width: 60%;
  --border-radius: 8px;
  --background: var(--ion-color-primary);
}
