<ion-content class="ion-padding" style="--padding-bottom: 4rem;">
  <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; height: fit-content;">
    <div style="display: flex; align-items: center;">
      <ion-text style="font-size: 1.5rem;">2025</ion-text>

      <!-- <ion-text style="color: rgb(219, 219, 219); font-size: 1rem; display: flex; justify-content: center; align-items: center;">
        <ion-icon name="flame-outline" style="padding-right: 0.2rem;"></ion-icon> {{streak}} días
      </ion-text> -->
    </div>

    <div style="display: flex; align-items: center;">
      <ion-text>{{now}}</ion-text>
      <!-- <ion-icon
        name="add-circle-outline"
        slot="end"
        style="font-size: 2rem;"
        (click)="openComponent()"></ion-icon> -->
    </div>
  </div>

  <div style="text-align: center; padding: 1rem;">
    <svg width="170" height="170">
      <!-- Backgroud circle -->
      <circle r="70" cx="50%" cy="50%" class="circle-border"></circle>

      <!-- Progress circle -->
      <circle
        r="70"
        cx="50%"
        cy="50%"
        class="circle-progress"
        [attr.stroke-dasharray]="circumference"
        [attr.stroke-dashoffset]="dashOffset"
      ></circle>
      
      <text x="50%" y="40%" class="circle-main-text">{{ flexiones | number }}</text>
      <text x="50%" y="57%" class="circle-text">{{ maxPushUps | number }}</text>
    </svg>
  </div>

  <!-- <div id="adMob" style="width: 100%; height: 50px; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem;"></div> -->

  @if(valueTodayFormatted <= 0) {
    <div class="card" style="width: 100%; display: flex; justify-content: center; align-items: center;">
      <div class="card-content" style="background-color: #F3F6FB; width: 90%; border-radius: 24px; display: flex; justify-content: space-evenly; align-items: center;"
      (click)="openComponent()">
        <img src="../../../../assets/img/home/flexion-card.png" alt="">
        <ion-text style="font-size: 0.9rem; padding: 0; font-weight: 600;">No hay registro para hoy</ion-text>
        <ion-icon name="add-outline" style="color: #7C4DFF; font-size: 1.3rem;"></ion-icon>
      </div>
    </div>
  } @else {
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="padding-bottom: 4rem;">
      <ion-fab-button (click)="openComponent()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- <div style="width: 100%; text-align: center; padding-bottom: 1rem;">
      <ion-text (click)="openComponent()" style="display: flex; align-items: center; justify-content: center; font-size: 1rem; text-decoration: underline;">Agregar flexiones <ion-icon name="add-outline" style="color: #7C4DFF; font-size: 1rem;"></ion-icon></ion-text>
    </div> -->

    @for(card of valueTodayFormatted.reverse(); track $index) {
      <div class="card" style="width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem;">
        <div class="card-content" style="background-color: #F3F6FB; width: 90%; border-radius: 24px; display: flex; justify-content: space-evenly; align-items: center;">
          <img src="../../../../assets/img/home/flexion-card.png" alt="">
          <ion-text style="font-size: 0.9rem; padding: 0; font-weight: 600;">{{card.flexiones}} Flexiones</ion-text>
        </div>
      </div>
    }
  }

<!-- 
  <ion-list lines="none">
    <div *ngFor="let habit of habits" style="display: flex; align-items: center; margin-bottom: 0.5rem;">
      <ion-checkbox (click)="toggleCheck(habit)" [(ngModel)]="habit.checked" style="margin-right: 0.5rem;"></ion-checkbox>
  
      <ion-item style="color: white; margin: 0; width: 100%;" [style.--background]="habit.color">
        <ion-icon [name]="habit.icon" style="margin-right: 10px; font-size: 24px;"></ion-icon>
        <ion-label>{{ habit.name }}</ion-label>
      </ion-item>
    </div>
  </ion-list> -->

  <ion-modal #modal trigger="open-modal" backdrop-dismiss="false">
    <ng-template>
      <ion-content>
        <div class="center-container">
          <ion-text>Vamos a establecer tu meta de flexiones!</ion-text>

          <ion-input
            type="number"
            placeholder="0"
            [(ngModel)]="maxPushUps"
            inputmode="numeric"
            class="centered-input">
          </ion-input>

          <ion-button expand="block" class="custom-button" (click)="saveMaxPushUps()">
            Aceptar
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>