<div class="ion-padding">
  <ion-icon name="arrow-back-outline" (click)="goBack()" style="font-size: 1.5rem;"></ion-icon>
  <ion-list>
    <ion-item>
      <ion-input label="Cantidad de flexiones" type="number" labelPlacement="stacked" placeholder="0" [(ngModel)]="flexiones"></ion-input>
    </ion-item>

    <ion-button (click)="registerFlexiones()" expand="block"
    (keydown.enter)="registerFlexiones()"
    (keyup.enter)="registerFlexiones()"
    (ionKeypress)="handleKeyPress($event)">
      Aceptar
    </ion-button>
  </ion-list>
</div>